@import 'colors.scss';

@mixin button-filled {
  background-color: $accent;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  font-family: 'Lato', sans-serif;
  padding: 1.5em;
  font-weight: 700;
  font-size: 1.2rem;
}

@mixin button-outlined {
  background-color: $white;
  border-radius: 0.2em;
  border: 1px solid $grey;
  color: inherit;
  padding: 0.7em;
  outline: inherit;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
