@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato_regular.ttf);
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato_italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato_bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato_black.ttf);
  font-weight: 900;
}
