@import 'colors.scss';
@import 'spacing.scss';
@import 'mixins.scss';

.logo {
  padding: $xl $md;
  text-align: center;
  border-bottom: $greyBorder;
  border-top: $greyBorder;

  .container {
    @include flex-column;

    align-items: center;

    h3 {
      font-size: 1.5rem;
    }

    hr {
      @include title-hr;
    }

    .logo-img {
      padding: $md;
      margin: $lg 0;
      border: 2px solid $grey;
      width: 90%;
      height: 90%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .logo {
    .container {
      .logo-img {
        width: 40%;
        height: 14%;
      }
    }
  }
}
