@import 'colors.scss';
@import 'spacing.scss';

nav {
  display: flex;
  align-items: center;
  padding: 0 $md;
  color: $dark;
  min-height: 3em;

  a {
    text-decoration: none;
  }
}
