@import 'colors.scss';
@import 'buttons.scss';
@import 'mixins.scss';

.program {
  background-image: url(../images/program_bg.png);
  background-repeat: repeat;
  color: $white;
  display: grid;
  grid-template-columns: auto;
  padding: $xl $md;

  .title {
    font-size: 1.5rem;
    text-align: center;
  }

  hr {
    @include title-hr;
  }

  .program-item {
    display: grid;
    grid-template-columns: 25% 40% 35%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: $md;
    margin: $sm 0;

    img {
      margin: auto;
    }

    h3 {
      @include flex-start-center;
      color: $accent;
      padding: 0 $sm;
      font-size: 1.2rem;
    }

    p {
      @include flex-start-center;
    }
  }

  .btn {
    @include button-filled;
    width: 80%;
    margin: $md auto 0 auto;
  }
}
