@import 'colors.scss';
@import 'buttons.scss';
@import 'mixins.scss';

.program {
  background-image: url(../images/program_bg.png);
  background-repeat: repeat;
  color: $white;
  display: flex;
  padding: $xl $md;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 1.5rem;
      text-align: center;
    }

    hr {
      @include title-hr;
    }

    .program-item {
      display: grid;
      grid-template-columns: 25% 40% 35%;
      background-color: rgba(255, 255, 255, 0.1);
      padding: $md;
      margin: $sm 0;

      img {
        margin: auto;
      }

      h3 {
        @include flex-start-center;

        color: $accent;
        padding: 0 $sm;
        font-size: 1.2rem;
      }

      p {
        @include flex-start-center;
      }
    }

    .see-program {
      display: none;
    }

    .btn {
      @include button-filled;

      width: 80%;
      margin: $md 0 0 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .program {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: $sm;

      .title {
        grid-column: 1/6;
      }

      hr {
        grid-column: 1/6;
      }

      .program-item {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
        height: 100%;

        h3 {
          justify-content: center;
        }
      }

      .see-program {
        grid-column: 3/4;
        display: inline-block;
        text-decoration: underline;
        color: $white;
        font-size: 1.2em;
        text-transform: uppercase;
        text-align: center;
        margin: $xl 0 $lg 0;
      }

      .btn {
        display: none;
      }
    }
  }
}
